<div class="container-title">
  <h2><%= @cocktail.name %></h2>
  <% if @admin %>
    <%= link_to cocktail_path(@cocktail),
        method: :delete,
        data: { confirm: "Are you sure?" } do %>
      <i class="fas fa-trash-alt"></i>
    <% end %>
  <% end %>
</div>

<div class="container-show">

  <div class="img-cocktail-lg">
    <%= cl_image_tag @cocktail.photo.key, height: 400, width: 300, crop: :fill if @cocktail.photo.attached?%>
  </div>

  <div class="container-ingredients">

    <% @cocktail.doses.each do |dose| %>
      <div class="ingredient-contents">
        <h3><%= dose.ingredient.name %></h3>
        <div class="ingredients-right">
          <p><%= dose.description %></p>
          <% if @admin %>
            <%= link_to dose_path(dose),
              method: :delete,
              data: { confirm: "Are you sure?" } do %>
              <i class="fas fa-minus-circle btn-remove"></i>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>

    <div class="container-method">
      <% if @cocktail.notes %>
        <h4><%= @cocktail.notes %></h4>
      <% end %>
      <% if @admin && @cocktail.doses.any? %>
        <p class="btn-method" data-toggle="modal" data-target="#exampleModalCenter2"><%= @btn_method %></p>
      <% end %>
    </div>

    <div class="links">
      <% if @admin %>
        <i class="fas fa-plus-circle btn-add" data-toggle="modal" data-target="#exampleModalCenter"></i>
      <% end %>
      <%= link_to "back", root_path, class: "btn-back" %>
    </div>

  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title text-center" id="exampleModalLongTitle">Add a dose!</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-modal">
          <%= simple_form_for [ @cocktail, @dose ] do |f| %>
            <div class="text-left mt-3">
              <%= f.association :ingredient, collection: Ingredient.order('name ASC') %>
              <%= f.input :description, label: "Amount" %>
            </div>
            <%= f.submit class: "btn btn-dark mt-3 mb-3" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title text-center" id="exampleModalLongTitle2">How do you make it?</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-modal">
          <%= simple_form_for @cocktail do |f| %>
            <div class="text-left">
              <%= f.input :notes, label: "Method" %>
            </div>
            <%= f.submit class: "btn btn-dark mt-3" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

