<h2 class="heading"><%= @cocktail.name %></h1>
<div class="img-cocktail-lg">
  <%= cl_image_tag @article.photo.key, height: 300, width: 400, crop: :fill %>
</div>

<div class="container-ingredients">
<% @cocktail.doses.each do |dose| %>
  <div class="ingredient-contents">
    <h3><%= dose.ingredient.name %></h3>
    <p><%= dose.description %></p>
    <p><%= link_to "Remove",
                  dose_path(dose),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></p>
  </div>
<% end %>

<p><%= link_to "Add a dose", new_cocktail_dose_path(@cocktail.id) %></p>
<p><%= link_to "Back to cocktails", cocktails_path %></p>
</div>
