<div class="container-about">
<!--   <%= image_tag("mom_cocktails.jpg", :alt => "rss feed") %>
  <%= image_tag("liv_cocktails.jpg", :alt => "rss feed") %>
  <%= image_tag("mom_and_liv.jpg", :alt => "rss feed") %>
  <%= image_tag("mom_verbier.jpg", :alt => "rss feed") %> -->
  <!-- <div class="card-about">
    <h3></h3>
    <p></p>
  </div>
 -->
  <%= image_tag("mixologist-and-developer.png", :alt => "rss feed", class:"img-about") %>
  <div class="card-about">
    <h3>Karen Zorn</h3>
    <p>The world knows Karen as a cool school president, hilarious friend,
      savior of the name Karen, and of course, a cocktail queen. The lucky
      few who experience her cocktails firsthand are blessed with
      7 years of flawless hair and lucky parking spots. And at last!
      Now you can try your hand at her famous elixirs at home.</p>
    <h3>Olivia Zorn</h3>
    <p>Olivia is Karen's favorite daughter and the web-wizard who made this website.
      She also makes fruit concoctions but in the form of photographs! She's all grown
      up now, but you could say, that this child with an uncanny resemblance to Shirley
      Temple is Karen's greatest and sweetest cocktail to date.</p>
  </div>
</div>



