<div class="container-about">
<!--   <%= image_tag("mom_cocktails.jpg", :alt => "rss feed") %>
  <%= image_tag("liv_cocktails.jpg", :alt => "rss feed") %>
  <%= image_tag("mom_and_liv.jpg", :alt => "rss feed") %>
  <%= image_tag("mom_verbier.jpg", :alt => "rss feed") %> -->
  <%= image_tag("mixologist-and-developer.png", :alt => "rss feed", class:"img-about") %>
</div>



