<!DOCTYPE html>
<html>
  <head>
    <title>RailsMisterCocktail</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&family=Rammetto+One&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <div class="navbar">
      <h1>Mixed by Mom Zorn</h1>
      <!-- <img src="https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-9/14925313_10209688999235516_7181153747923635371_n.jpg?_nc_cat=105&ccb=2&_nc_sid=09cbfe&_nc_ohc=NAQ5JcHTugIAX-hSp4X&_nc_ht=scontent-lht6-1.xx&oh=e51059fd0d2a00db964ef2bf60aa2ad4&oe=5FD43172" alt="" class="avatar" width="50px" height="50px"> -->
        <div class="admin-link">
          <% if @admin == true %>
            <p><%= link_to "Mix your own", new_cocktail_path %></p>
          <% end %>
        </div>
        <div class="nav-links">
        <p><%= link_to "Cocktails", root_path %></p>
        <p><%= link_to "About", about_path  %></p>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
