<!DOCTYPE html>
<html>
  <head>
    <title>RailsMisterCocktail</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&family=Rammetto+One&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <div class="navbar">
      <h1>Mixed by Mom Zorn</h1>
      <!-- <img src="https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-9/14925313_10209688999235516_7181153747923635371_n.jpg?_nc_cat=105&ccb=2&_nc_sid=09cbfe&_nc_ohc=NAQ5JcHTugIAX-hSp4X&_nc_ht=scontent-lht6-1.xx&oh=e51059fd0d2a00db964ef2bf60aa2ad4&oe=5FD43172" alt="" class="avatar" width="50px" height="50px"> -->
      <div class="nav-content">
        <% if @admin == true %>
          <p><%= link_to "Mix it up", mix_path, class: "nav-link" %></p>
        <% end %>
        <p><%= link_to "Cocktails", root_path, class: "nav-link"%></p>
        <p><%= link_to "About", about_path, class: "nav-link" %></p>
        <div class="nav-item dropdown">
          <%= image_tag "https://images.unsplash.com/photo-1601876819102-99560f772713?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <% if user_signed_in? %>
              <%= link_to "logout", destroy_user_session_path, method: :delete, class: "dropdown-item"%>
            <% else %>
              <%= link_to "login", new_user_session_path, class: "dropdown-item" %>
            <% end %>
          </div>
        </div>
      </div>





    </div>
    <%= yield %>
  </body>
</html>
